body {
    font-family: Helvetica, Arial, sans-serif;
}

.form-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #3C0025;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    color:  #f7f7f7;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"] {
    width: 100%;
    background-color: #FF7474; /* Updated background color */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color:  #CC5959; /* A slightly darker shade for hover effect */
}
